<?xml version="1.0" encoding="UTF-8"?>
<Installer>
  <Name>Hotkey Soundboard</Name>
  <Version>1.0.0</Version>
  <Title>Hotkey Soundboard Installer</Title>
  <Publisher>DistantJragon</Publisher>
  <StartMenuDir>Hotkey Soundboard</StartMenuDir>
  <TargetDir>@HomeDir@/AppData/Local/DistantJragon/HotkeySoundboard</TargetDir>
  <RemoteRepositories>
    <Repository>
      <Url>https://distantjragon.net/hotkeysoundboard/repos/windows-x86_64/stable/repository</Url>
    </Repository>
  </RemoteRepositories>
  <WizardStyle>Modern</WizardStyle>
</Installer>
